$primaryColor: #096B72; 
$secondaryColor: #0075F2;

$menuColor: #0075F2;

$textColorDark: #333;
$textColorLight: #eee;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;

$gutter: 1rem;
